@model IEnumerable<GenesysItemCollection.Models.Weapon>

@{
    ViewData["Title"] = "Weapons Index";
}

<h1>Weapons</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.damage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.critical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.range)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rarity)
            </th>
            <th>
                Special
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.skill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.critical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.range)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rarity)
            </td>
            <td>
                @foreach (string specialItem in item.special)
                {
                    @specialItem<br />
                }
                
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@(item.Id)" class="btn btn-primary">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
