@model IEnumerable<GenesysItemCollection.Models.Armor>

@{
    ViewData["Title"] = "Armor Index";
}

<h1>Armor</h1>
<hr />

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.meleedefense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rangeddefense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.encumbrance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hardpoints)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.meleedefense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rangeddefense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soak)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.encumbrance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hardpoints)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@(item.Id)" class="btn btn-primary">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
